<!DOCTYPE html>
<!--
	TODO: Task 1, Task 2, Task 3
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
	</head>
	<body>

		<h2>Please Login</h2>

		<form action="#" method="post" data-th-action="@{/login}" data-th-object="${user}">
		<table>
			<tr>
				<td> 
					<label for="username">Username:</label> 
				</td>
				<td>
					<input type="text" id="username" size="30" 
							placeholder="Please type in your username" data-th-field="*{username}">
					<span
						class="error"
						data-th-if="${#fields.hasErrors('username')}"
						data-th-errors="*{username}"
					></span>
				</td>
			</tr>
			<tr>
				<td>
					<label for="password">Password:</label>
				</td>
				<td>
					<input type="password" id="password" size="30" 
							placeholder="Please type in your password" data-th-field="*{password}">
					<span
						class="error"
						data-th-if="${#fields.hasErrors('password')}"
						data-th-errors="*{password}"
					></span>
				</td>
			</tr>
			<tr>
				<td>
				<div data-th-if="${user.captcha != null}">
					<span data-th-object="user.captcha"> 
					<label for="captcha"><span data-th-text="*{captchaString}"></label>
					Answer: 
					<input type="text" id="input" size="30" 
						placeholder="Answer" data-th-field="*{input}">
				</span>
			</div>
			</td>
			</tr>
			
			<!-- <tr>
				<td>
			<div data-th-if="${#strings.isEmpty(user.getCaptchaBody)}">
					<label for="captcha"><span data-th-text="${user.getCaptchaBody()}"></span>></label>
				</td>
				<td>
					<input type="text" id="answer" size="30" 
							placeholder="input" data-th-field="*{input}">
				</td>
			</div>
			</tr>
			<tr> -->
				<td></td>
				<td>
					<button type="submit" formaction="/login" formmethod="post">Login</button>
				</td>
			</tr>
		</table>
	</form>
	</form>
	</body>
</html>
